
.market-overview {
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
}

/* .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
} */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 10px;
    gap: 30px;
    padding: 40px;
}

.filter-heading {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.filter-heading input {
    outline: none;
    padding: 10px;
    border-color: #E5E7EB;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.filter-categories {
    display: inline-block;
}

.category {
    margin: 4px;
    padding: 10px 18px;
    border-style: none;
    border-radius: 4px;
    background-color: inherit;
}

.category.active-btn:hover,
.category.active-btn {
    background-color: #0E5A54;
    color: white;
}


.category:hover {
    background-color: white;
    color: black;
}

.category:active {
    background-color: gray;
    color: black;
}

